@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-prim: #2b2d42;
    --bg-sec: #8d99ae;

    --fg-prim: #edf2f4;

    --error: #ef233c;
    --success: #2ec4b6;
}

html, body {
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
    background: var(--bg-prim);

    color: var(--fg-prim);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--fg-prim);
}

/* Page Styling */

main {
    height: 100dvh;
    width: 100vw;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    overflow-y: auto;
}

section {
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

section > div {
    width: 20rem;
    max-width: 95%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    position: relative;
    margin-top: 4rem;
}

textarea {
    height: 8rem;
    width: 100%;

    resize: none;
    padding: 0.8rem;

    outline: none;
    border-radius: 0.5rem;

    background: #3c096c;
    color: var(--fg-prim);

    caret-color: var(--fg-prim);
    font-family: Poppins, sans-serif;

    border: 1px solid var(--bg-sec);
}

section span {
    position: absolute;
    left: -0.8rem;
    top: -3rem;

    padding: 0.5rem 1rem;
    background: #5a189a;

    border-radius: 0.5rem;
    color: var(--fg-prim);

    font-size: 0.8rem;

    width: fit-content;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
}

textarea::placeholder {
    color: var(--fg-prim);
    opacity: 0.8;
}

button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;

    background: #ff6d00;
    color: var(--fg-prim);

    border: none;
    border-radius: 0.5rem;

    height: 3rem;
    width: 10rem;

    cursor: pointer;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
}

section span svg, button svg {
    fill: var(--fg-prim);
    height: 1.25rem;
    width: 1.25rem;

    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

button:hover {
    background: #ff7e29;
    transform: translate(-3px, -2px);

    transition: all 0.3s;
}

button:active {
    transform: translate(0, 0);
    scale: 0.9;
}